<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Registration Numbers</title>
    <link rel="stylesheet" href="registration_number.css">
  </head>
  <body>
    {{{body}}}
  </body>
  <script src="function.js" charset="utf-8"></script>
</html>
