body{
  background-color: #7DE2D1;
}
.wrapper{
  width: 80%;
  background-color: #339989;
  margin: auto;
  margin-top: 5%;
  text-align: center;
  padding: 20px;
  margin-bottom: 5%;
  border-radius: 3px;
}
#regNumba{
  width: 225px;
  padding: 5px 10px;
  font-size: 1.1em;
  margin-top: 3px;
  border-radius: 3px;
  border-style: none;
}
#regLabel{
  margin-left: -8%;
  font-weight: bold;
}
span{
  margin-left: -80%;
  font-weight: bold;
}
.radio{
  display: inline-block;
  margin: auto;
}
.radios{
  margin-top: 5px;
  width: 350px;
  margin: auto;
}
.rad1{
  display: inline-block;
  margin-right: 10px;
  margin-top: 10px;
}
.add{
  margin-left: 18%;
  padding: 5px 10px;
  margin-top: 10px;
  background-color: black;
  border-style: none;
  color: white;
  font-family: monospace;
  font-weight: bold;
  width: 60px;
  border-radius: 2px;
}
.plates{
  margin-top: 10px;
}
li{
  display: block;
  padding: 10px;
  background-color: yellow;
  width: 140px;
  margin: auto;
  margin-bottom: 10px;
  border-radius: 5px;
  border-style: solid;
  font-weight: bolder;
}
label{
  margin-left: 10px;
}
.blank{
  color: red;
}
#blank{
  color: red;
}
#duplicate{
  color: blue;
}
#success{
  color: green;
}
